@import url(https://db.onlinewebfonts.com/c/23c0fcab84d99da0de762de7e220a6e1?family=Europa+Regular);
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:40px 50px 0;
}
i{
    font-size: 50px;

}
.Links{
    display: flex;
    width: 300px;
    justify-content: space-around;
}
a{
    text-decoration: none;
    font:500 20px "Europa Regular", sans-serif;
    color: #000;
}
a:hover{
    color: #6E07F3;
    transition: .4s;
}
.Contato{
    border: 1.8px solid #6E07F3;
    padding: 7px 11px;
    border-radius: 18px;
    color: #6E07F3;
}
.Contato:hover{
    color: #fff;
    background-color: #6E07F3;
    transition: .6s;
}