@import url(https://db.onlinewebfonts.com/c/23c0fcab84d99da0de762de7e220a6e1?family=Europa+Regular);
.contacts_wrapper{
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        color: #fff;
        font-family: "Europa", sans-serif;
    }
}
.social_wrapper{
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-around;
}
.social_control{
    color: #66d9ed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;

    a{
        text-decoration: none;
        svg{
            color: #66d9ed;
        }
        p{
            color: #66d9ed;
        }
    }
}